<h2>ALL PETS</h2>
<div class="adopted-pets">
  {{#each adoptedPets}}

    <div class="card">
      <picture>
        <img src="{{this.image}}" alt="{{this.name}}" />
      </picture>
      <p>{{this.name}}</p>
      <p>Age: {{this.age}}</p>
      <p>Sex: {{this.sex}}</p>
      <p><a href="/pets/{{this.id}}">More</a></p>
    </div>

  {{/each}}
</div>