<h2>Favorites</h2>
<div class="all-pets">
  {{#unless favorites.length}}
    <span>No favorites :(</span>
  {{/unless}}
  {{#each favorites}}

    <div class="card">
      
      <picture>
        <img src="{{this.favoritedPet.image}}" alt="{{this.favoritedPet.name}}" />
        {{#if ../currentUser}}
          <div class="favorite-container heart-full" data-id={{this.id}}> </div>
        {{/if}}
      </picture>

      <div class="card-content">
        <p class="name">{{this.name}}</p>
        <p class="description">Age: {{this.age}}  Sex: {{this.sex}}</p>
        <a href="/pets/{{this.id}}">More</a>
      </div>
    </div>

  {{/each}}
</div>