<h1>{{onePet.name}}</h1>
<div class="card">
  <picture>
    <img src="{{onePet.images}}" alt="{{onePet.name}}" />
  </picture>
  <p>Description: {{onePet.description}}</p>
  <p>Age: {{onePet.age}}</p>
  <p>Type: {{onePet.petType}}</p>
  <p>Sex: {{onePet.sex}}</p>
  <p>Breed: {{onePet.breed}}</p>
  <p>Medical Info: </p>
  <p>Vaccinated: {{onePet.vaccinated}}</p>
  <p>Neutered: {{onePet.neutered}}</p>
  <p>Chipped: {{onePet.chipped}}</p>
  <div><a href="/pets/{{onePet._id}}/edit">Edit</a></div>

</div>