<h2>ALL PETS</h2>
<div>
  {{#each allPets}}

    <div class="card">
      <picture>
        <img src="{{this.images}}" alt="{{this.name}}" />
      </picture>
      <p>Name: {{this.name}}</p>
      <p>Age: {{this.age}}</p>

      <p><a href="/pets/{{this._id}}">View more</a></p>

    </div>

  {{/each}}
</div>