<h2>ALL PETS READY FOR ADOPTION</h2>
<div class="all-pets">
  {{#each allPets}}

    <div class="card">
      <picture>
        <img src="{{this.image}}" alt="{{this.name}}" />
      </picture>
      <div class="card-content">
        <div>
        <p>{{this.name}}</p>
        <p>Age: {{this.age}}</p>
        <p>Sex: {{this.sex}}</p>
        <p><a href="/pets/{{this.id}}">More</a></p>
      </div>
      <div 
     {{#if this.faved}} 
      class="favorite-container heart-full"
      {{else}}
      class="favorite-container heart-empty"
      {{/if}}
       data-id={{this.id}}></div>
      </div>
    </div>

  {{/each}}
</div>